{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<div class="card mb-5">
<div>{{ post.author }}</div>
<div>{{ post.created }}</div>
    <form method="POST" action="{% url 'posts:post-like' pk=post.pk %}">
    {% csrf_token %}
        {% if post in user.like_post_set.all %}
            <button type="submit" class="btn btn-primary">좋아요</button>
        {% else %}
            <button type="submit" class="btn btn-danger">싫어요</button>
        {% endif %}
</form>
</div>
{% endfor %}
{% endblock %}